.dropnav-wrapper {
  padding: 10px;
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .logo {
    align-self: center;
    display: flex;
    align-items: center;
    margin: 5px 0 0;
  }
  .nav-list {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-out;
    &.show {
      max-height: 500px; /* approximate max height */
      transition: 1.5s ease-in;
    }
    .nav-item:not(.drop-item) {
      padding: 10px 0;
      font-size: 18px;

      &:last-child {
        padding: 10px 0 0;
      }
      // &.drop-item {
      //   padding: 0;
      // }
    }

    .dropdown-content {
      padding: 0 10px;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s;
      border-bottom: none;

      &.open {
        max-height: 200px;
        border-bottom: 1px solid black;
        transition: 0.5s;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.6);
        margin-top: 10px;
      }
      div {
        padding: 10px 0;
      }
    }
  }
  .btn {
    position: absolute;
    right: 10px;
    top: 17px;
    .bar {
      height: 5px;
      width: 35px;
      background-color: #ec6ead;
      margin: 5px 0;
      transition: 0.75s ease-in-out;
      &.bar1.cross {
        transform: rotate(-45deg) translate(-7px, 6px);
      }
      &.bar2.cross {
        opacity: 0;
      }
      &.bar3.cross {
        transform: rotate(45deg) translate(-7px, -8px);
      }
    }
  }
}

@media (min-width: 992px) {
  .dropnav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    // position: relative;

    .nav-list {
      display: flex;
      align-self: center;
      align-items: center;
      list-style-type: none;
      min-height: 30px;

      .nav-item:not(.drop-item) {
        padding: 0 16px;
        font-size: 25px;
        overflow: unset;

        &:last-child {
          padding: 16px 0px 16px 16px;
        }
      }
      .dropdown-content {
        max-height: 0;
        position: absolute;
        overflow: hidden;
        &.open {
          max-height: 200px;
          width: 100px;
          background: maroon;
        }
      }
    }
    .btn {
      display: none;
    }
  }
}
